[database]
host = "127.0.0.1"
port = 5432
database = "postgres"
user = "your_db_user"
password = "your_db_password"
charset = "utf8"

[tables]
names = [
  "amazon_ads_sp_campaigns_innerbrightness",
  "amazon_ads_sb_campaigns_innerbrightness",
  "amazon_ads_sp_campaign_placement_innerbrightness",
  "amazon_ads_sb_campaign_placement_innerbrightness",
  "amazon_ads_sp_search_term_innerbrightness",
  "amazon_ads_sb_search_term_innerbrightness",
  "amazon_ads_sp_targeting_innerbrightness",
  "amazon_ads_sb_targeting_innerbrightness"
]
